.app-layout {
  position: relative;

  width: 100%;
  max-width: 480px;
  height: 100dvh;

  margin: 0 auto;

  display: flex;
  justify-content: center;

  overflow: hidden;

  background: radial-gradient(
    ellipse at top,
    #181818 0%,
    #121212 18%,
    #0d0d0d 45%,
    #090909 75%,
    #080808 100%
  );
}

.app-layout__content {
  position: relative;

  width: 100%;
  max-width: var(--app-max-width);

  height: 100%;

  overflow-y: hidden;
  overflow-x: hidden;

  background: transparent;
}
