.app-layout {
  position: relative;

  width: 100%;
  max-width: 480px;

  margin: 0 auto;

  background: radial-gradient(
    ellipse at top,
    #181818 0%,
    #121212 18%,
    #0d0d0d 45%,
    #090909 75%,
    #080808 100%
  );
}

.app-layout__content {
  width: 100%;
}