.app-v2 {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  padding: clamp(6px, 2vw, 12px);

  box-sizing: border-box;
}

.page-v2 {
  width: 100%;
  max-width: 480px;

  min-height: 100%;

  margin: 0 auto;

  background: #080808;

  box-sizing: border-box;
}
