* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #09e609;
  color: #ffffff;
  font-family: "Comfortaa";
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

button,
a,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}

button,
a,
label,
nav,
[role="button"] {
  -webkit-user-select: none;
  user-select: none;
}

img {
  display: block;
}
