@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --bg: #070707;
  --card: #121212;
  --accent: #ff6b00;
  --accent2: #d92727;
  --text: #ffffff;
  --text2: #bfbfbf;
  --app-max-width: 480px;

  --app-padding: clamp(16px, 5vw, 20px);

  --tabbar-height: 86px;

  --card-radius: 22px;

  --section-gap: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: "Comfortaa";
  color: var(--text);
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  justify-content: center;
}
