.home-page {
  position: relative;

  width: 100%;
  max-width: 480px;

  margin: 0 auto;

  padding: 0;

  background: transparent;

  display: grid;

  grid-template-rows:
    auto
    auto
    1fr;

  row-gap: 10px;

  height: 100%;

  box-sizing: border-box;

  overflow: hidden;
}

@media (max-width: 340px) {
  .home-page {
    gap: 9px;

    padding: 10px 14px;
  }
}
